<?xml version="1.0"?>
<!--
/**
 * Defines a new schema for the "select" attribute types
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magento\Framework\GraphQlSchemaStitching\Reader" type="Magento\Framework\GraphQlSchemaStitching\Common\Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="productAttributeOfTypeSelectReader" xsi:type="object">DannegWork\OfTypeSelectGraphql\Model\Config\AttributeOfTypeSelectReader</item>
            </argument>
        </arguments>
    </virtualType>

<!--    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CompositeCollectionProcessor">-->
<!--        <arguments>-->
<!--            <argument name="collectionProcessors" xsi:type="array">-->
<!--                <item name="attributesOfTypeSelect" xsi:type="object">DannegWork\OfTypeSelectGraphql\Model\Resolver\Products\DataProvider\Product\CollectionProcessor\AttributeOfTypeSelectProcessor</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->

</config>
